.header__link {
   font-weight: 400;
   font-size: 24px;
   line-height: 1.15;
   color: #FFFFFF;
   margin-left: 18px;
   text-decoration: none;
}

.header__link:first-child {
   border-bottom: 3px #FFFFFF solid;
}

@media screen and (max-width: 320px) {
   .header__link {
      font-weight: 400;
      font-size: 18px;
   }
}