.statistics {
   width: 76.9%;
   margin: 0 auto;
   padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
   .statistics {
      width: 90.6%;
   }
}

@media screen and (max-width: 768px) {
   .statistics {
      width: 94%;
      padding-bottom: 88px;
   }
}

@media screen and (max-width: 320px) {
   .statistics {
      width: 90%;
      padding-bottom: 64px;
   }
}