.journey__subtitle {
   max-width: 640px;
   font-weight: 400;
   font-size: 30px;
   line-height: 1.2;
   text-align: center;
   margin: 32px auto 64px;
}

@media screen and (max-width: 1024px) {
   .journey__subtitle {
      margin: 30px auto 56px;
   }
}

@media screen and (max-width: 767.99px) {
   .journey__subtitle {
      max-width: calc(2.3%*31);
      font-size: 3.9vw;
   }
}

@media screen and (max-width: 425px) {
   .journey__subtitle {
      max-width: 288px;
      font-size: 16px;
   }
}

@media screen and (max-width: 320px) {
   .journey__subtitle {
      font-size: 16px;
      line-height: 1.25;
   }
}