.journey__subtitle {
   max-width: 640px;
   font-weight: 400;
   font-size: 30px;
   line-height: 1.2;
   text-align: center;
   margin: 32px auto 64px;
}

@media screen and (max-width: 1024px) {
   .journey__subtitle {
      margin: 32px auto 56px;
   }
}

@media screen and (max-width: 320px) {
   .journey__subtitle {
      font-size: 16px;
      line-height: 1.25;
   }
}