.cover__content-box {
   -ms-grid-column: 1;
   -ms-grid-column-span: 1;
   grid-column: 1 / 2;
   -ms-grid-row: 1;
   -ms-grid-row-span: 1;
   grid-row: 1 / 2;
   -ms-grid-column-align: center;
   justify-self: center;
   -ms-grid-row-align: center;
   align-self: center;
   z-index: 3;
}