.cover__background {
   width: 100%;
   height: 740px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -ms-flex-line-pack: center;
   align-content: center;
   background-image: url("../../../images/cover__background.jpg");
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   text-decoration: none;
   position: relative;
}

.cover__background::before {
   content: "";
   width: 100%;
   height: 100%;
   background-color: #2A2C2F;
   opacity: 0.3;
   position: absolute;
}

.cover__background:hover::before {
   opacity: 0.8;
}

@media screen and (max-width: 1279px) {
   .cover__background {
      height: calc((100vw - 96px) / 1.6);
   }
}

@media screen and (max-width: 1024px) {
   .cover__background {
      height: calc(100vw / 1.6);
   }
}