.journey__text {
   font-weight: 400;
   font-size: 10px;
   line-height: 14px;
   margin: 8px 0 0;
   letter-spacing: 1.5px;
   text-transform: uppercase;
}

@media screen and (max-width: 970px) {
   .journey__text {
      margin: 8px 0 0 24px;
   }
}

@media screen and (max-width: 320px) {
   .journey__text {
      margin: 8px 0 0 16px;
   }
}