.statistics__title {
   font-weight: 900;
   font-size: 54px;
   line-height: 1.1;
   margin: 0;
}

@media screen and (max-width: 767px) {
   .statistics__title {
      max-width: 370px;
   }
}

@media screen and (max-width: 425px) {
   .statistics__title {
      font-size: 32px;
   }
}