.block-indents {
   padding-bottom: 92px;
}

@media screen and (max-width: 1023px) {
   .block-indents {
      padding-bottom: 88px;
   }
}

@media screen and (max-width: 767px) {
   .block-indents {
      padding-bottom: 64px;
   }
}